@charset "UTF-8";

:root {
    --azul-principal: rgb(8, 116, 247);
    --azul-secundario: #386596;
    --cinza: rgb(100, 120, 146);
    --laranja: #D6911A;
    --marrom: #81673B;
    --altura: 100vh;
}

.light-mode {
    --fundo: white;
    --texto: black;
    transition: .03s ease;
}

.dark-mode {
    --fundo: rgb(80, 80, 80);
    --texto: white;
    transition: .03s ease;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    max-width: 1200px;
    height: calc(100% - 72px);
    background-color: var(--fundo);
    color: var(--texto);
    margin: auto;
}

main h1 {
    font-size: 1.8em;
    padding: 10px;
}

header{
    background-color: var(--azul-principal);
    padding: 1rem;
    height: 72px;
    display: flex;
}

.menu{
    height: 40px;
    width: 40px;
    margin-right: auto;
    margin-left: 0;
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
}

.menu span {
    background-color: white;
    height: 4px;
    width: 100%;
    border: 25px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}
    .menu span:nth-child(1){
        top: 25%;
    }
    .menu span:nth-child(3){
        top: 75%;
    }

.menu.active {
    margin-left: auto;
    margin-right: 0;
}
    .menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .menu.active span:nth-child(2){
        display: none;
    }
    .menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

nav {
    background-color: var(--azul-principal);
    width: 80%;
    max-width: 400px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: white;

    position: fixed;
    top: 0;
    left: -450px;

    transition: 0.3s ease;
}
    nav.active {
        left: 0;
    }

nav > hr {
    margin: 5px;
}


.profile{
    padding: 15px 20px 10px 20px;
    text-align: left;
    text-wrap: wrap;
    line-height: 1.2em;
    display: flex;

}

.info-name {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

#pg_name{
    font-size: 1.1em;
}

#pg_function {
    font-size: 1em;
}

.profile #pg_function{
    color: var(--laranja);
}

.settings{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 5px;
    height: 120px;
}

.settings hr{
    align-self: normal;
}

.settings span {
    background-color: transparent;
    padding: 6px 10px;
}
    .settings span:hover{
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }
    .settings span:active{
        background-color: rgba(255, 255, 255, 0.5);
    }

.settings span {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 10px;
}

.settings span a{
    font-size: 1.1em;
    padding-left: 10px;
    flex: 1;
    color: white;
    text-decoration: none;
}

.settings-itens {
    background-color: var(--fundo);
    width: 80%;
    max-width: 380px;

    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 15px;

    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    color: var(--texto);

    position: fixed;
    bottom: -300px;
    left: 10px;

}
    .settings-itens.active {
        bottom: 120px;
    }

.close-settings {
    font-size: 24px;
    padding: 0;
    outline: none;
    margin: 0 2px;
    align-self: flex-end;
    
    cursor: pointer;
}
    .close-settings:active {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 40px;
    }

.settings-itens hr {
    color: var(--texto);
}

.settings-itens ul{
    list-style: none;
}

.settings-itens ul li {
    padding: 15px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    flex: 1;
    
    cursor: pointer;

    font-size: 1.1em;
}
    .settings-itens ul li:active {
        background-color: rgba(0, 0, 0, 0.1);
    }


.btn {
    padding: 8px 12px;
    margin: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    border-radius: 15px;
}
    .btn:hover {
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
    }
    .btn:active {
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4) inset;
    }

.none {
    display: none;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

    padding: 2px;
}
.material-symbols-outlined.close-nav {
    font-size: 45px;
    cursor: pointer;

}

