@charset "UTF-8";

:root {
    --azul-principal: rgb(8, 116, 247);
    --azul-secundario: #386596;
    --cinza: rgb(100, 120, 146);
    --laranja: #D6911A;
    --marrom: #81673B;
}

.light-mode {
    --fundo: white;
    --texto: black;
    --texto-2: var(--cinza);
}

.dark-mode {
    --fundo: rgb(80, 80, 80);
    --texto: white;
    --texto-2: rgb(165, 183, 206);
}

.nav_options{
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.nav_options > a{
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid white;
}
    .nav_options a:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }
    .nav_options a:active{
        background-color: rgba(255, 255, 255, 0.5);
    }

.user_calls {
    padding: 10px 5px;
    font-size: 1.1em;
}


main table {
    text-wrap: nowrap;
}

.table_controls {
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 1050px;
    margin: 0 auto;
}



.btn_filter{
    border-radius: 5px;
    width: 35px;
    height: 35px;
    align-self: center;
    border: 2px solid var(--texto);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
    .btn_filter:hover {
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
    }
    .btn_filter:active {
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4) inset;
    }

.btn_newcall{
    background-color: var(--azul-principal);
    
    cursor: pointer;
    color: white;
    font-size: 1.1em;
}

.box-chamados {
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 1050px;
    background-color: #eee;
    color: black;
    overflow: auto;
    
    text-align: center;
}

.left {
    text-align: left;
}

.table_calls {
    border-bottom: 1px solid #aaa;
    border-radius: 10px;
    border-collapse: collapse;
    table-layout: fixed;
}

.table_calls .titulo {
    min-width: 300px;
}

.table_calls th:nth-child(2){
    width: 120px;
}

.table_calls th:nth-child(3){
    width: 120px;
}

.table_calls th:nth-child(4){
    width: 210px;
}

.table_calls th:nth-child(5){
    width: 110px;
}

.table_calls th:nth-child(6){
    width: 165px;
}

#thead {
    border-collapse: collapse;
    
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-radius: 10px;
}

th {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    
    padding: 2px 10px;
    
}

#tbody tr {
    border-bottom: 1px solid #aaa;
    border-radius: 5px;
    border-collapse: collapse;
}

#tbody tr:nth-child(even){
    background-color: #ddd;
}



td p {
    padding: 0 10px;
    margin: 10px;
}

.descricao p {
    width: 500px;
}

.fechado p, .resolvido p, .aguardando-resposta p, .concluido p, .em-andamento p, .aberto p, .baixa p, .media p, .alta p, .urgente p {
    border-radius: 15px;
}

.fechado p {

}

.concluido p {
    background-color: blue;
    color: white;
}

.resolvido p {

}

.aguardando-resposta p {

}

.em-andamento p {
    background-color: orange;
    color: black;
}

.aberto p{
    background-color: red;
    color: white;
}

.baixa p{
    background-color: rgb(112, 255, 83);
    color: black;
}

.media p{
    background-color: rgb(255, 197, 88);
    color: black;
}

.alta p{
    color: black;
    background-color: orange;
}

.urgente p {
    background-color: rgb(255, 83, 83);
    color: black;
}

.newcall-box {
    background-color: var(--fundo);
    padding: 20px;
    width: 85%;
    max-width: 600px;
    height: 70%;
    max-height: 800px;
    color: var(--texto);

    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
}
    .newcall-box.active {
        display: flex;
    }

.newcall-box > h2 {
    font-size: 1.4em;
    padding: 5px 0;
}

.newcall-box > hr {
    margin-bottom: 20px;
}

.forms-newcall {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin-bottom: 20px;
}

.linha-clicavel {
    cursor: pointer;
}
    .linha-clicavel:hover {
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.4);
    }
    .linha-clicavel:active {
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.4) inset;
    }

.scroll-xy {
    overflow: auto;
}

.small-input {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.group-input{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    padding: 5px;
}

.group-input label {
    font-size: 1em;
    padding: 5px 0;
}

.group-input input, .group-input select, .group-input textarea{
    outline: none;
    border: 2px solid var(--texto);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 8px;
    font-size: 1em;
    background-color: var(--fundo);
    color: var(--texto);
}

.label-chamado {
    font-size: 1em;
    padding: 5px 0;
}

.input-chamado {
    outline: none;
    border: 2px solid var(--texto);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 8px;
    font-size: 1em;
    background-color: var(--fundo);
    color: var(--texto);
}

.required{
    color: red;
}

.newcall-controls {
    display: flex;
    flex-direction: column;
}

.btn_cancel {
    font-size: 1.1em;
    border: 1px solid var(--texto);
    order: 1;
    background-color: var(--fundo);
    color: var(--texto);
}

.details-chamado {
    background-color: var(--fundo);
    padding: 8px;
    width: 85%;
    max-width: 1000px;
    height: 70%;
    max-height: 800px;
    color: var(--texto);

    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
}
    .details-chamado.active {
        display: flex;
    }

.header-chamado{
    display: flex;
}

.header-chamado > .title {
    flex: 1;
    
    padding: 5px 0 10px 8px;
}

.material-symbols-outlined.close-details-chamado{
    font-size: 35px;
    cursor: pointer;
    align-self: center;
}

.dados-chamado{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    overflow-y: auto;
    height: auto;
}

.dados-chamado > h2 {
    font-size: 1.4em;
}

.inteiro, .dividido {
    padding: 15px 10px;
}

.dividido {
    display: flex;
    flex-flow: row nowrap;
}

.dividido *{
    flex: 1;
}

.dividido.principal {
    flex: 1;
    padding: 0;
    height: 90%;
}

.dividido.principal h2 {
    padding: 10px;
}



.title-dados {
    font-weight: lighter;
    font-size: 0.9em;
    color: var(--texto-2);
}

.dados {
    font-weight: bold;
}

.div-chat {
    padding: 10px;
    flex: 1;
    border-left: 2px solid #ccc;
    display: flex;
    flex-flow: column nowrap;
}

#ver-msg {
    flex: 1;
    border: 2px solid var(--texto-2);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
}

#controls-chat {
    flex: 0;
    border: 2px solid var(--texto-2);
    background-color: var(--fundo);
    border-radius: 15px;
    display: flex;
}

#controls-chat.resolvido-config {
    display: none;
}

.resolvido-config {
    display: none;
}

#escrever-msg {
    outline: none;
    border: none;
    background-color: var(--fundo);
    margin: 5px;
    color: var(--texto);
    text-decoration: none;
    font-size: 1em;
    border-radius: 10px 10px 0 0;
    resize: none;
}

#enviar-msg {
    flex: 0;
    align-self: center;
    padding: 5px;
    border: 2px solid var(--texto-2);
    border-radius: 40%;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

.lighter {
    font-weight: lighter;
}

.textogrande {
    height: 80px;
    overflow-y: auto;
    text-wrap: wrap;
    border-top: 2px solid var(--texto-2);
    padding: 5px;
    margin-top: 5px;
    font-weight: normal;
    font-size: 1em;
}

.title {
    font-size: 1.7em;
}

.paginacao-controles {
    margin: 0 auto;
}

.btn-table{
    border: 2px solid var(--texto);
    background-color: var(--fundo);
    color: var(--texto);
    font-size: 0.8em;
    cursor: pointer;
}

.disable {
    color: #aaa;
    border-color: #aaa;
    cursor: default;
}

#page-table {
    font-size: 1.2em;
    color: var(--texto);
    padding: 2px 15px;
}

.hr {
    max-height: 1px;
    
    margin: 10px;
}

.ia-box {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.ia-box.resolvido-config {
    display: none;
}

#consultarIA{
    width: 90%;
    align-self: center;
    color: var(--texto);
    background-color: var(--fundo);
    border: 2px solid var(--texto-2);
    font-size: 1em;
    margin: 0;
    flex: 0;
}

#finalizarCadastro {
    width: 90%;
    align-self: center;
    color: var(--texto);
    background-color: var(--fundo);
    border: 2px solid var(--texto-2);
    font-size: 1em;
    margin: 0;
    flex: 0;
}



.chat-ia {
    margin-top: 12px;
    display: none;
}

.chat-ia.active {
    display: block;
}

.pergunta {
    text-align: center;
    margin-top: 10px;
}

.sim-nao {
    display: flex;
}

#sim-respondido, #nao-respondido {
    flex: 1;
    border: 2px solid var(--texto-2);
    color: var(--texto);
    background-color: var(--fundo);
}

#resposta-ia {
    font-size: 1em;
    color: var(--texto);
    padding: 5px;
    border: 2px solid var(--texto-2);
    border-radius: 10px;
    min-height: 100px;
}

.bp-embedded-webchat {
    width: 80%;
    height: 200px;
    background-color: blue;
}

.balao-de-fala {
    padding: 8px;
    border: 2px solid var(--texto);
    border-radius: 5px;
    flex: 0;
    margin: 3px 0;
    max-width: 75%;
}

.balao-de-fala.usuario-atual {
    background-color: var(--azul-principal);
    color: white;
    border: none;
}

.balao-de-fala.outro-usuario {
    background-color: var(--fundo);
}

.usuario-atual {
    align-self: flex-end;
}

.outro-usuario {
    align-self: flex-start;
}

.message-txt {
    color: var(--texto);
}

.message-time {
    color: rgb(165, 183, 206);
    font-size: 0.7em;
    padding-top: 5px;
}

